.Rproj.user
.Rhistory
.RData
.Ruserdata
literatures
data/data_nepal_population_density
data/data_nepal_population_density/*
scripts
big_data_n_scripts
big_data_n_scripts/*
data/watershed/Watershed.rar
media
